* {
    box-sizing: border-box;
    font-family: 'Blinker', sans-serif;
    border-radius: 1%;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 3vw;
    text-align: center;
    line-height: 1.5;
  }
  
  img {
    height: 250px;
    width: auto;
    display: block;
    border-radius: 0;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }

  .name {
    font-family: 'Modak', cursive;
    font-size: 6vw;
  }
  
  nav {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 50%; /* Stay at the top */
    right: 15px;
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: rgba(255, 255, 255, 0.76);
    font-size: 15px;
    text-align: right;
  }

  nav a {
    display: block;
    text-decoration: none;
    color: rgb(10, 43, 23);
    }
  
  header {
    padding: 3% 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 3vw;
    margin-bottom: 1em;
  }

  .headline {
    background-color: rgb(10, 43, 23);
    color: white;
    border-radius: 4%;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  section {
    min-height: 200px;
    padding: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
  }

  .project img {
      width: 90%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
  }

  .projects p {
      font-size: 2vw;
  }

  .bio {
    width: 75%;
    padding: 1%;
  }

  .bio p {
    display: inline-block;
    width: 49.5%;
    vertical-align: middle;
    padding: 10px;
    }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  .slideshow-container {
    position: relative;
    border:10px solid rgb(0, 0, 0);
    display: inline-block;
    margin-bottom: 1em;
  }

  .text {
    display: none;
    position: absolute;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.4);
    color: #fff;
    border-radius: 0;
    font-size: 13px;
  }
  
  .slideshow-container:hover .text {
    display:block;
    bottom:0;
  }
  
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    position: relative;
    overflow: hidden;
    border-radius: 0;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
